<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Upload</title>
</head>

<body>
    <h1>File Upload Example</h1>

    <!-- Profile Pic (single) -->
    <form action="/uploadProfile" method="post" enctype="multipart/form-data">
        <p><b>Upload Profile Pic</b></p>
        <input type="file" name="profileImage">
        <button type="submit">Upload</button>
    </form>

    <br><br>

    <!-- Screenshots (multiple) -->
    <form action="/uploadScreenshot" method="post" enctype="multipart/form-data">
        <input type="file" name="uploadScreenshot" multiple>
        <button type="submit">Upload screenshots</button>
    </form>

     <form action="/uploadDocuments" method="post" enctype="multipart/form-data">
        <p><b>Upload Documents</b></p>
        <input type="file" name="documents">
        <button type="submit">Upload</button>
    </form>
</body>

</html>